# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.spec

# PyInstaller
*.spec
build/
dist/
*.exe

# Virtual environment
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# PyCharm
.idea/
*.iml

# Generated version file
version.txt

# Icon file
icon.ico

# OS Specific
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~